.image-display {
    margin-top: 20px;
  }
  
  .image-display img {
    max-width: 80%;
    height: auto;
    border: 2px solid #282c34;
  }
  
  .image-display p {
    font-size: 18px;
    color: #555;
  }
  